<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href='/stylesheets/__register.css'/>
    <link rel='stylesheet' href='/stylesheets/header2.css' />

</head>
<body>
    <div class="container">
        <%- include('../partials/header') %>
        <main>
            <div class="subheader" style="margin-top: 15px;">
                <p><a href="#">Inicio</a> > Iniciar sesión</p>
            </div>
            <% if ( mensaje != 'nada') { %>
                <ul style="margin-top: 15px;">
                    <% for ( let m=0; m<mensaje.length; m++) { %>
                    <li style="color: red; font-size: 14px; font-weight: bold; padding-left: 15px;"><%= mensaje[m].msg %></li>
                    <% } %>
                </ul>
            <% } %>
            <div class="inputsContainer">
                <form action="/users/login" method="post" id="formEdit" class="login">
                    <h2>Login</h2>
                    <div class="auxiliarInputsContainer">  
                        <label for="email">EMAIL</label>
                        <input type="email" name="email" id="email"> 
                        <ul style="font-size: small; color: red;"  id="emailError"></ul>
                        <label for="password">CONTRASEÑA</label>
                        <input type="password" name="password" id="password"> 
                        <ul style="font-size: small; color: red;"  id="oldError"></ul>


                        <button type="submit" id="entrar" class="primary_action">INGRESAR</button> 
                    
                    </div> 
                </form>
            </div>
            
        </main>
        <%- include('../partials/footer') %>
    </div>
    <script src="/js/login.js"></script>
</body>
</html>