<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href='/stylesheets/__register.css'/>
    <link rel='stylesheet' href='/stylesheets/header2.css' />

</head>
<body>
    <div class="container">
        <%- include('../partials/header') %>
        
        <main>
            <div class="subheader">
                <p><a href="#">Inicio</a> > Crear Cuenta</p>
            </div>
            
            <% if ( mensaje != 'nada') { %>
                <ul>
                    <% for ( let m=0; m<mensaje.length; m++) { %>
                    <li><%= mensaje[m].msg %></li>
                    <% } %>
                </ul>
            <% } %>
            
            <div class="inputsContainer">
                <form action="/users/register" method="post" id="formRegister" class="login">
                    <h2>Registar Usuario</h2>
                    <div class="auxiliarInputsContainer">
                        <label for="fullname">NOMBRE Y APELLIDO</label>
                        <input type="text" name="fullname" id="fullname">
                        <ul id="nameError" style="font-size: small; color: red;" ></ul>
                        <label for="email">EMAIL</label>
                        <input type="email" name="email" id="email"> 
                        <ul style="font-size: small; color: red;"  id="emailError"></ul>
                        <label for="text">TELÉFONO</label>
                        <input type="text" name="telefono" id="telefono"> 
                        <ul style="font-size: small; color: red;"  id="telefonoError"></ul>
                        <label for="password">CONTRASEÑA</label>
                        <input type="password" name="password" id="password"> 
                        <ul style="font-size: small; color: red;"  id="passwordError"></ul>
                        <label for="password">CONFIRMAR CONTRASEÑA</label>
                        <input type="password" name="confirmpassword" id="confirmpassword"> 
                        <ul style="font-size: small; color: red;"  id="confirmError"></ul>

                        <button type="submit" id="entrar" class="primary_action" >CREAR CUENTA</button>
                        <button type="reset" id="cancelar" class="reset_action"><a href="/">CANCELAR</a></button>
                    
                    </div> 
                </form>
            </div>

            <%- include('../partials/footer') %>
        </main>
    </div>
    <script src="/js/register.js"></script>
</body>
</html>