*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  body {
    padding: 0px;
    font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0 0 0 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  .container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
  }
  .container main.carrito {
    position: relative;
    border: 2px black solid;
    width: 90%;
    margin-top: 40px;
    margin-bottom: 100px;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    

  }
  .container main.carrito h1{
    width: 90%;
    margin-bottom: 20px;
  }
  .container main.carrito div.margen{
    width: 100%;
    height: 20px;
  }
  .container main.carrito div.tarjetas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0 70px;
  }
  
  .container main.carrito div.tarjetas div.tarjetaProducto{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
  }

  .container main.carrito div.tarjetas div.tarjetaProducto div.imagen{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .container main.carrito div.tarjetas div.tarjetaProducto div.imagen a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  .container main.carrito div.tarjetas div.tarjetaProducto div.imagen a img{
    width: 100%;
    border:1px solid #BFBFBF;
    box-shadow:10px 10px 30px rgba(0, 0, 0, 0.8);
    transition: width 2s, height 2s, margin 2s;
  }

  .container main.carrito div.tarjetas div.tarjetaProducto div.descripcion{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 20px;
    width: 25%;
  }
  .container main.carrito div.tarjetas div.tarjetaProducto div.descripcion p.cantidad{
    display: none;
    text-align: center;
    border: 2px black solid;
   
  }
  .container main.carrito div.tarjetas div.margen{
    width: 100%;
  }

  .container main.carrito div.cantidadSubtotal {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 20vw;
    text-align: center;
    align-content: flex-start;
    align-items: flex-start;
  }
  
  .container main.carrito div.cantidadSubtotal div.cantidad{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    width: 50%;
    text-align: center;
  }
  .container main.carrito div.cantidadSubtotal div.cantidad h2.titulo{
    position: relative;
  }
  .container main.carrito div.cantidadSubtotal div.cantidad h2.titulo2{
    display: none;
  }
  .container main.carrito div.cantidadSubtotal div.cantidad div.cadaCantidad{
    display: flex;
    text-align: center;
    margin-top: 20px;
    justify-content: center;
    align-items: flex-start;
  }
  .container main.carrito div.cantidadSubtotal div.cantidad div.cadaCantidad div.containerCantidad{
    display: flex;
    height: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .container main.carrito div.cantidadSubtotal div.cantidad div input.cantidad{
    border: 2px solid black;
    width: 50%;
    text-align: center;
    justify-content: center;
    font-size: 15px;
  }
  
  .container main.carrito div.cantidadSubtotal div.cantidad p.envio{
    font-size: 1rem;
    font-weight: 600;
    width: 60%;
    padding: 5px;
    border: 1px black solid;
    align-self: center;
    height: 6vh;
  }
  .container main.carrito div.cantidadSubtotal div.cantidad h2.total{
    padding: 10px;
    font-size: 2rem;
    font-weight: 900;
  }
  .container main.carrito div.cantidadSubtotal div.subtotal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    width: 50%;
    text-align: center;
  }
  .container main.carrito div.cantidadSubtotal div.subtotal h2.titulo{
    position: relative;
  }
  .container main.carrito div.cantidadSubtotal div.subtotal div.precio{
    display: flex;
    text-align: center;
    margin-top: 20px;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }
  .container main.carrito div.cantidadSubtotal div.subtotal div.precio div.cadaPrecio{
    display: flex;
    justify-content: end;
  }
  .container main.carrito div.cantidadSubtotal div.subtotal div.precio div.cadaPrecio p{
    font-size: 1.6rem;
    font-weight: 900;
  }
  .container main.carrito div.cantidadSubtotal div.subtotal div.precio i{
    margin-left: 10px;
    font-size: 2rem;
    font-weight: 900;
    color: black;
  }
  .container main.carrito div.totalBotones{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
  }
  .container main.carrito div.totalBotones div.subtotal2{
    display: flex;
    flex-direction: row;
    width: 35%;
    justify-content: space-around;
  }
  .container main.carrito div.totalBotones div.subtotal2 p{
    font-size: 1.2rem;
    font-weight: 900;
    color: black;
  }
  .container main.carrito div.totalBotones div.subtotal2 p#subtotal{

    border: black solid 3px;
  }

  .container main.carrito div.totalBotones div.total{
    display: flex;
    flex-direction: row;
    width: 35%;
    justify-content: space-around;
  }
 
  .container main.carrito div.totalBotones div.total h2.total{
    margin-top: 8vh;
    padding: 10px;
    font-size: 2rem;
    font-weight: 900;
  }
  .container main.carrito div.totalBotones div.botones{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }
  .container main.carrito div.totalBotones div.botones button.mas{
    font-family: montserrat;
    width: 40%;
    margin-left: 0px;
    background-color: gray;
    color: whitesmoke;
    font-size: 1rem;
  }
  .container main.carrito div.totalBotones div.botones button.mas a{
    font-family: montserrat;
    width: 40%;
    margin-left: 0px;
    background-color: gray;
    color: whitesmoke;
    font-size: 1rem;
  }
  .container main.carrito div.totalBotones div.botones button{
    width: 50%;
    height: 8vh;
    font-size: 1.2rem;
    color: white;
    background-color: black;
    font-family: montserrat;
    text-align: center;
  }
  .container main.carrito div.totalBotones div.botones button a{
    width: 50%;
    height: 8vh;
    font-size: 1.2rem;
    color: white;
    background-color: black;
    font-family: montserrat;
    text-align: center;
  }
  .container main.carrito div.totalBotones div.botones button.mas a{
    width: 50%;
    height: 8vh;
    font-size: 1.1rem;
    background-color: grey;
    color: black;
    font-family: montserrat;
    text-align: center;
  }

  .container main.carrito div.totalBotones div.subtotal2 {
    margin-top: 40px;
    justify-content: flex-end;
  }
  .container main.carrito div.totalBotones div.subtotal2 .envio{
    padding-right: 10px;
  }
  .container main.carrito div.totalBotones div.total {
    margin-top: 40px;
    justify-content: flex-end;
  }
  .container main.carrito div.totalBotones div.total .totalTitulo{
    padding-right: 10px;
  }

/* ------------------------Modo tablet 770px-------------------------------------------------*/
@media(max-width: 770px){
  .container main.carrito div.tarjetas{
    margin: 0 0px;
  }
  
  .container main.carrito div.cantidadSubtotal {
    flex-direction: column;
    justify-content: flex-start;
  }

  .container main.carrito div.tarjetas div.tarjetaProducto div.imagen{
    width: 250px;
  }

  .container main.carrito div.tarjetas div.tarjetaProducto div.cantidadSubtotal {
    justify-content: flex-end;
  }

  .container main.carrito div.tarjetas div.tarjetaProducto div.cantidadSubtotal .cantidad, .container main.carrito div.tarjetas div.tarjetaProducto div.cantidadSubtotal .subtotal {
    width: 100%;
  } 
  .container main.carrito div.tarjetas div.tarjetaProducto div.cantidadSubtotal .subtotal {
    margin-top: 20px;
  } 
  .container main.carrito div.tarjetas div.tarjetaProducto div.cantidadSubtotal .cantidad .titulo, .container main.carrito div.tarjetas div.tarjetaProducto div.cantidadSubtotal .subtotal .titulo {
    font-size: 22px;
  } 

  .container main.carrito div.cantidadSubtotal div.cantidad div.cadaCantidad, .container main.carrito div.cantidadSubtotal div.subtotal div.precio {
      margin-top: 5px;
  }

  .container main.carrito div.totalBotones div.subtotal2{
    margin-top: 40px;
    width: 80%;
    justify-content: flex-end;
  }
  .container main.carrito div.totalBotones div.subtotal2 .envio{
    padding-right: 10px;
  }
  .container main.carrito div.totalBotones div.total {
    margin-top: 40px;
    width: 80%;
    justify-content: flex-end;
  }
  .container main.carrito div.totalBotones div.total .totalTitulo{
    padding-right: 10px;
  }

}
  
/* ------------------------Modo tablet xs 425px-------------------------------------------------*/
@media(max-width: 425px){

  .container main.carrito div.tarjetas{
    margin: 0 0px;
  }
  .container main.carrito div.tarjetas div.tarjetaProducto {
    margin: 50px 0;
  }

  .container main.carrito div.tarjetas div.tarjetaProducto div.imagen{
    width: 100%;
  }
  

  .container main.carrito div.tarjetas div.tarjetaProducto div.descripcion {
    border: none;
    width: 100%;
    padding-left: 5px;
    margin: 10px 0;
  }
  .container main.carrito div.tarjetas div.tarjetaProducto div.cantidadSubtotal {
    width: 100%;
  }

  .container main.carrito div.tarjetas div.tarjetaProducto div.cantidadSubtotal {
    margin: 10px 0;
  }
  .container main.carrito div.tarjetas div.tarjetaProducto div.cantidadSubtotal .cantidad .titulo, .container main.carrito div.tarjetas div.tarjetaProducto div.cantidadSubtotal .subtotal .titulo {
    font-size: 22px;
  } 
  .container main.carrito div.totalBotones div.subtotal2{
    width: 80%;
    justify-content: flex-end;
  }
  .container main.carrito div.totalBotones div.total {
    width: 80%;
    justify-content: flex-end;
  }

}
  