<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/stylesheets/contacto.css">
    <link rel='stylesheet' href='/stylesheets/header2.css' />

</head>
<body>
  <div class="container">
    <%- include('partials/header') %>
    
    <main>
      <div class="contacto">
        <form action="/sendEmail" class="contactoForm" method="POST">
          <h2>Formulario de Contacto</h2>
          <div class="auxiliarInputsContainer">
          <label for="nombre">NOMBRE: </label><input class="inputt" type="text" name="nombre" placeholder="Escribir nombre completo">
          <label for="tel">TELEFONO: </label><input class="inputt" type="tel" name="tel" placeholder="Escribir número de teléfono">
          <label for="email">E-MAIL: </label><input class="inputt" type="email" name="email" placeholder="Escribir e-mail">
          <label for="asunto">ASUNTO: </label><input class="inputt" type="text" name="asunto" placeholder="Escribir asunto">
          <label for="msj">MENSAJE: </label><textarea name="msj" cols="40" rows="5"></textarea>
          <button class="primary_action" type="submit">ENVIAR</button>
          <button type="reset" class="reset_action">RESETEAR</button>
        </div>
        </form>
      
      </div>
      
    </main>
    
    <%- include('partials/footer') %>
  </div>
</body>
</html>