<footer>
    <div class="aboutUs"><img src="/img/logoArlequin.jpg" alt="logo"><p>Acerca de WILDCARD</p></div>
    <div class="redesSociales">
        <p>SEGUINOS EN :</p> 
        <a href="">Link a Twiter<i class="fab fa-twitter-square"></i> </a>
        <a href="">Link a Instagram<i class="fab fa-instagram"> </i> </a> 
        <a href="https://www.facebook.com/Wildcard-Zapatos-114046186993654/?ref=page_internal">www.facebook.com/Wildcard-Zapatos<i class="fab fa-facebook-square"></i> </a>  
    </div>
    <div class="formasDePago"><img src="/img/mercadopago.png" width="100%" alt="Formas de Pago"></div>
    <div class="copyright"><i class="fab fa-instagram"></i><p>La Plata, Buenos Aires, Argentina.</p><p>Copyright 2020</p></div>        
</footer>