span.Rojo{
    color : red !important;
 }
 span.Azul{
     color: blue !important;
 }
 span.Negro{
    color : black !important;
}
span.Blanco{
    color : honeydew !important;
    background-color: black;
}
span.Gris{
    color: gray !important;
}
span.Verde{
    color: green !important;
}
span.Amarillo{
    color:yellow !important;
}
span.Marron{
    color:brown !important;
}
span.Beige{
    color:beige !important;
    background-color: black;
}


